$simple-tooltip-prefix: stt !default;
$simple-tooltip-color: #1e2b3b !default;
$simple-tooltip-bg-color: white !default;
$simple-tooltip-border-color: #536877 !default;
$simple-tooltip-border-width: 1px !default;
$simple-tooltip-box-shadow: 0 0 10px rgba(black, .4) !default;
$simple-tooltip-font-size: 1em !default;
$simple-tooltip-line-height: 1.2em;
$simple-tooltip-text-align: center !default;
$simple-tooltip-padding: 1em !default;
$simple-tooltip-vertical-gap: .5em !default;
$simple-tooltip-border-style: solid !default;
$simple-tooltip-zindex: 999 !default;
$simple-tooltip-max-width: 14rem !default;
$simple-tooltip-min-width: 14rem !default;
$simple-tooltip-border-radius: .25rem !default;
$simple-tooltip-fade: true !default;
$simple-tooltip-fade-delay: 500ms !default;
$simple-tooltip-nub-size: 12px !default;
$simple-tooltip-nub-offset: $simple-tooltip-nub-size * 1.5;
$simple-tooltip-nub-border-radius: 4px !default;
$simple-tooltip-space: .125em !default;