@import "functions";
$simple-tooltip-prefix: stt !default;
$simple-tooltip-color: #1e2b3b !default;
$simple-tooltip-bg-color: white !default;
$simple-tooltip-border-color: #1e2b3b !default;
$simple-tooltip-border-width: 1px !default;
$simple-tooltip-font-size: 1em !default;
$simple-tooltip-text-align: left !default;
$simple-tooltip-padding: 1em !default;
$simple-tooltip-vertical-gap: .5em !default;
$simple-tooltip-border-style: solid !default;
$simple-tooltip-zindex: 999 !default;
$simple-tooltip-width: 15rem !default;
$simple-tooltip-min-width: 10rem !default;
$simple-tooltip-border-radius: .25rem !default;
$simple-tooltip-fade: true !default;
$simple-tooltip-fade-delay: 500ms !default;
$simple-tooltip-nub-size: 12px !default;
$simple-tooltip-nub-size-unit: unit($simple-tooltip-nub-size);
$simple-tooltip-nub-size-val: parseInt($simple-tooltip-nub-size);
$simple-tooltip-nub-spacing: sqrt($simple-tooltip-nub-size-val * $simple-tooltip-nub-size-val + $simple-tooltip-nub-size-val * $simple-tooltip-nub-size-val) / 2;
$simple-tooltip-nub-spacing-val: #{$simple-tooltip-nub-spacing}#{$simple-tooltip-nub-size-unit};
$simple-tooltip-nub-border-radius: 4px !default;
$simple-tooltip-box-shadow: 0 0 2rem .25rem lighten($simple-tooltip-bg-color, 50%) !default;