@import "settings";
@import "functions";
@import "keyframes";
//:not([aria-label='']) 
[data-#{$simple-tooltip-prefix}] {
    position: relative;
    box-sizing: border-box;
    //pointer-events: none;
    &::after,
    &::before {
        display: none;
        position: absolute;
        top: calc(100% + .5rem);
        box-sizing: border-box;
        @if ($simple-tooltip-fade) {
            animation: #{$simple-tooltip-prefix}-fade $simple-tooltip-fade-delay ease-in-out;
        }
    }
    &::after {
        float: left;
        content: attr(aria-label);
        position: absolute;
        padding: $simple-tooltip-padding;
        height: auto;
        background-color: $simple-tooltip-bg-color;
        color: $simple-tooltip-color;
        box-shadow: $simple-tooltip-box-shadow;
        z-index: $simple-tooltip-zindex - 1;
        font-size: $simple-tooltip-font-size;
        width: $simple-tooltip-width;
        border-radius: $simple-tooltip-border-radius;
        border-style: $simple-tooltip-border-style;
        border-width: $simple-tooltip-border-width;
        border-color: $simple-tooltip-border-color;
        min-width: $simple-tooltip-min-width;
        left: calc(50% - #{$simple-tooltip-width} / 2);
        right: 0;
        margin: 0;
        text-align: $simple-tooltip-text-align;
    }
    &::before {
        content: "";
        border-style: $simple-tooltip-border-style;
        height: $simple-tooltip-nub-size;
        width: $simple-tooltip-nub-size;
        top: calc(100% + 2px);
        background-color: $simple-tooltip-bg-color;
        //background-image: repeating-linear-gradient(45deg, transparent, transparent calc(50% - 1px), $simple-tooltip-bg-color 50%, $simple-tooltip-bg-color 100%);
        border-radius: 0 $simple-tooltip-nub-border-radius 0 0;
        transform: rotate(-45deg);
        border-color: $simple-tooltip-border-color $simple-tooltip-border-color transparent transparent;
        border-width: $simple-tooltip-border-width $simple-tooltip-border-width 0 0;
        left: calc(50% - #{$simple-tooltip-nub-size} / 2);
        z-index: $simple-tooltip-zindex;
        position: absolute;
    }
    &:hover,
    &:focus,
    &:active {
        &::after,
        &::before {
            display: block;
        }
    }
    &:hover {
        &::after {
            z-index: $simple-tooltip-zindex + 1;
        }
        &::before {
            z-index: $simple-tooltip-zindex + 2;
        }
    }
}

[data-#{$simple-tooltip-prefix}-fade] {
    &::before,
    &::after {
        animation: #{$simple-tooltip-prefix}-fade $simple-tooltip-fade-delay ease-in-out;
    }
}

[data-#{$simple-tooltip-prefix}-position=top] {
    &::after {
        top: -100%;
        bottom: auto;
        height: auto;
        width: $simple-tooltip-width;
        margin: -#{$simple-tooltip-nub-size - 2} 0 0 0;
    }
    &::before {
        transform: rotate(135deg);
        left: calc(50% - #{$simple-tooltip-nub-size} / 2);
        top: auto;
        bottom: calc(100% + 2px);
    }
}

[data-#{$simple-tooltip-prefix}-position=right],
[data-#{$simple-tooltip-prefix}-position=left] {
    &::after,
    &::before {
        top: $simple-tooltip-vertical-gap;
        left: 100%;
        right: auto;
    }
}

[data-#{$simple-tooltip-prefix}-position=right] {
    &::after {
        margin: 0 0 0 #{$simple-tooltip-nub-spacing-val};
        height: auto;
        line-height: 1rem;
        right: 100%;
    }
    &::before {
        transform: rotate(-135deg);
        left: calc(100% + 2px);
        top: auto;
        bottom: calc(50% - #{$simple-tooltip-nub-size} / 2);
    }
}

[data-#{$simple-tooltip-prefix}-position=left] {
    &::after,
    &::before {
        left: auto;
    }
    &::after {
        margin: 0 #{$simple-tooltip-nub-spacing-val} 0 0;
        height: auto;
        line-height: 1rem;
        right: 100%;
    }
    &::before {
        transform: rotate(45deg);
        right: calc(100% + 2px);
        top: auto;
        bottom: calc(50% - #{$simple-tooltip-nub-size} / 2);
    }
}

[data-#{$simple-tooltip-prefix}-align=left] {
    &::after {
        left: 0;
        right: auto;
    }
}

[data-#{$simple-tooltip-prefix}-align=center] {
    &::after {
        left: calc(50% - #{$simple-tooltip-width} / 2);
    }
}

[data-#{$simple-tooltip-prefix}-align=right] {
    &::after {
        right: 0;
        left: auto;
    }
}

[data-#{$simple-tooltip-prefix}-align=top] {
    &::after {
        top: 0;
    }
}

[data-#{$simple-tooltip-prefix}-align=middle] {
    &::after {
        top: $simple-tooltip-vertical-gap;
    }
}

[data-#{$simple-tooltip-prefix}-align=bottom] {
    &::after {
        bottom: 0;
        top: auto;
    }
}